<ExampleSection>
    <Snippet @code={{concat 'faker-random "arrayElement" (array "Link" "Ganon" "Zelda")'}} />
    <div>{{faker-random "arrayElement" (array "Link" "Ganon" "Zelda")}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code={{concat 'faker-fake "{{name.lastName}}, {{name.firstName}} {{name.suffix}}"'}} />
    <div>{{faker-fake "{{name.lastName}}, {{name.firstName}} {{name.suffix}}"}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code={{concat 'faker-fake "{{hacker.phrase}}"'}} />
    <div>{{faker-fake "{{hacker.phrase}}"}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code="faker-sentence 10" />
    <div>{{faker-sentence 10}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code="faker-sentences 5" />
    <div>{{faker-sentences 5}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code="faker-text" />
    <div>{{faker-text}}</div>
</ExampleSection>
<ExampleSection>
    <Snippet @code={{concat 'faker-fake "{{internet.color}}"'}} />
    {{#with (faker-fake "{{internet.color}}") as |color|}}
        <div class="py-4 px-1" style={{html-safe (concat "background-color: " color)}}>{{color}}</div>
    {{/with}}
</ExampleSection>
<ExampleSection>
    <Snippet @code={{concat 'faker-fake "{{image.cats}}"'}} />
    <div><img class="w-32" src={{faker-fake "{{image.cats}}"}} alt="fake" /></div>
</ExampleSection>